 .right-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem 0; */
  }
   .right-body .center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
  }
   .right-body img {
    width: 25%;
  }
  .notimemsg{
    font-size: 18px;
  }
  .downnnn{
    width: 100%;
    align-items:'center';
    flex-direction:'column';
    justify-content: 'center';
    position: 'relative';
    margin-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
}

  @media (max-width: 676px) {
    .center{
      display: flex;
      flex-direction: column;
    }
    .datepicker{
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .downnnn{
      align-items: center;
      text-align: center;
    }
    .downnnn h4{
      font-size: 14px;
    }
    .notimemsg{
      font-size: 16px;
    }
    .downnnn .save-slot{
      justify-content: center;
      width: 100%;
      display: flex;
    }
  }