@import 'footer';
@import 'header';

.home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    .container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 5rem 0;
        min-height: 70vh;
        background: linear-gradient(180deg, #cd3732, #dd5b2c, #f48e1e);

        .bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            display: flex;
            align-items: flex-end;
            overflow: hidden;

            .img-left,
            .img-right {
                width: 330px
            }
        }

        div {

            h2 {
                font-family: 'Montserrat Alternates', sans-serif;
                color: $white;
                font-weight: 700;
                font-size: 35px;
                text-align: center;
            }
        }

        h3 {
            color: $white;
            font-weight: 400;
            padding: 10px 0;
            text-align: center;
        }

        .subscribe {
            position: relative;
            margin-top: 1.5rem;
            width: 500px;
            max-width: 90%;
            border-radius: 30px;
            overflow: hidden;
            background: #000;

            input {
                padding: 15px 20% 15px 20px;
                outline: none;
                overflow: hidden;
                border: none;
                width: 100%;
            }

            button {
                cursor: pointer;
                position: absolute;
                right: 0;
                background: $red;
                color: $white;
                font-weight: 500;
                width: 17%;
                height: 100%;
                border: none;

                img {
                    width: 30px;

                }
            }
        }
    }

    .cards {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 2;

        div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            .card {
                cursor: pointer;
                width: 200px;
                height: 150px;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: $gray;
                box-shadow: rgba($color: $dark, $alpha: 0.15) 0 1px 4px 0;
                transition: .3s ease;

                h2 {
                    font-weight: 900;
                    font-size: 16px;
                    color: $white;
                    text-align: center;
                    margin: 0.5rem 0;
                }

                &:hover {
                    transform: translateY(10px);
                }
            }
        }
    }

    h5 {
        color: $white;
        padding: 2rem 0;
        margin-top: -150px;
    }

    .title3 {
        font-weight: 900;
        font-size: 25px;
        color: $dark;
        text-align: center;
        margin: 2rem;
    }

    .slides {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        .card {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            overflow: hidden;
            cursor: pointer;
            box-shadow: rgba($color: $dark, $alpha: 0.15) 0 1px 4px 0;
            transition: .3s ease;

            &-img {
                background: $orange;
                border-radius: 10px;
                padding: 10px;
            }

            &-map {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 5px 0;

                h3 {
                    font-weight: 700;
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 15px;
                    }

                    span {
                        font-size: 13px;
                        color: $blue;
                    }
                }
            }

            &-star {
                img {
                    width: 15px;
                    background: $orange;
                    border-radius: 50%;
                    padding: 3px;
                }

                img:last-child,
                img:nth-child(4) {
                    background: $gray;
                }
            }

            button {
                cursor: pointer;
                background: $red;
                color: $white;
                border: none;
                border-radius: 30px;
                overflow: hidden;
                font-weight: 500;
                padding: 8px;
                margin: 10px 0;
                border: 2px solid $red;
                transition: .3s ease;

                &:hover {
                    color: $red;
                    background: $white;
                }
            }

            &:hover {
                transform: translateY(10px);
            }
        }
    }
}