@import 'footer';
@import 'header';

.sigin {
    display: flex;
    justify-content: center;
    align-items: center;

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2.5rem 0;
    }

    .title {
        position: relative;
        margin: 2rem 0;

        img {
            position: absolute;
            width: 60px;
            opacity: .3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            font-family: 'Montserrat Alternates', sans-serif;
            color: $dark;
            font-weight: 700;
            font-size: 35px;
            text-align: center;
        }
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .text {
            margin: 10px 0;
            width: 400px;
            max-width: 90%;

            h3 {
                margin-bottom: 10px;
                font-size: 15px;
                text-align-last: left;

                a {
                    color: $orange;
                }
            }
        }

        .form-input {
            display: flex;
            flex-direction: column;
            width: 400px;
            max-width: 90%;

            input {
                width: 100%;
                font-size: 15px;
                color: $orange;
                border: 2px solid $orange;
                border-radius: 30px;
                outline: none;
                overflow: hidden;
                padding: 10px 20px;
                margin: 10px 0;
            }

            input::placeholder {
                color: $orange;
            }
        }

        .buttons {
            margin-top: 10px;

            button {
                cursor: pointer;
                min-width: 100px;
                background: $white;
                color: $orange;
                border-radius: 30px;
                outline: none;
                border: none;
                overflow: hidden;
                font-weight: 500;
                padding: 10px;
                margin-bottom: 5px;
                transition: .3s ease;

                &:hover {
                    box-shadow: rgba($color: $dark, $alpha: 0.15) 0 1px 4px 0;
                }
            }

            button[type="submit"] {
                margin-right: 5px;
                background: $orange;
                color: $white;
            }
        }
    }
}